:root {
    --bg-color: rgb(31, 35, 30);
    --elements-bg-color: rgb(46, 55, 47);
    --olive-medium: rgb(68, 80, 69);
    --olive-light: rgb(92, 108, 93);
}

body {
    background-color: var(--bg-color);
    color: white;
    display: flex;
    justify-content: center;
    height: 100dvh;
    margin: 0;
    font: 16px monospace;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90svw;
    max-width: 900px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

#header > * {
    margin: 0;
}

#visualisation {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
}

#userInputBox {
    background-color: var(--elements-bg-color);
    width: 100%;
    min-height: 160px;
    align-items: center;
    font: 90px monospace;
    justify-content: space-between;
    display: none;
    margin-top: 20px;
    padding: 0 30px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--olive-medium);
}

#userInput {
    background-color: transparent;
    color: white;
    border: none;
    padding: 20px 0;
    font: inherit;
    width: 55%;
    min-width: 100px;
}

#unitBtn {
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 4px 16px;
    border-radius: 6px;
    background-color: var(--olive-medium);
    border: 1px solid var(--olive-light);
    font: inherit;
    font-size: 50px;
    transition: background-color 0.2s, border-color 0.2s;
    outline: none;
}

#unitBtn:hover {
    background-color: var(--olive-light);
    border-color: white;
}

input:focus {
    outline: none;
}

#by {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 15px;
    font-size: 12px;
    color: white;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#by a {
    color: white;
    text-decoration: none;
}